/* Global reset and settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: #000;

    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.section {
    width: 30%; /* Desktop view: each section takes 30% of the width */
    margin-bottom: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #ccc; /* Gray background for sections */
    position: relative; /* Add relative positioning for .section */
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent; /* Transparent background for section titles */
    color: #000; /* Black text color */
    padding: 0.5rem;
    text-align: right;
    border: 1px solid #000; /* Black border around section title */
    border-bottom: none; /* Remove bottom border */
}

.section:nth-child(1) .section-title {
    background-color: #f00; /* Red background for "Chicken" */
}

.section:nth-child(2) .section-title {
    background-color: #800000; /* Dark red background for "Beef" */
}

.section:nth-child(3) .section-title {
    background-color: #ff0; /* Yellow background for "Sushi" */
}

.section-content {
    margin-top: 2rem; /* Increase margin-top for better spacing */
}

/* Media Queries for Tablet and Mobile Views */
@media (max-width: 991px) {
    .section {
        width: 48%; /* Tablet view: each section takes 48% of the width */
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%; /* Mobile view: each section takes 100% of the width */
    }
}
